.grid{
   
    display: grid;
    
    grid-template-columns: 200px 75px 25px;

}
.para{
    
    
    background-color: rgb(255, 140, 255);
}
.par{
    background-color: aqua;
}
.cont{
    background-color: aquamarine;
}